* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   -webkit-tap-highlight-color: transparent;
}

body {
   font-size: 20px;
   font-family: "Montserrat";
   font-weight: 400;
   font-style: normal;
   overflow-y: scroll;
   background-color: var(--thirdMain);
}

ul,
ol,
li {
   list-style: none;
}

a,
a:visited,
a:active {
   text-decoration: none;
}

input,
textarea {
   display: flex;
   outline: none;
   background: none;
   box-shadow: none;
   border: none;
   font-family: inherit;
   font-size: inherit;
   color: inherit;

   &::-webkit-outer-spin-button,
   &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }
}

button {
   cursor: pointer;
}

h1 {
   font-size: 30px;
   font-weight: 700;
}

h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

hr {
   display: block;
   border: none;
}

img {
   max-width: 100%;
   height: auto;
}

table {
   border-collapse: collapse;
}
