.about{
   font-size: 20px;
   font-weight: 600;
}

.parameters{
   width: 100%;
   font-size: 16px;

   tr:last-child{
      td {
         border-bottom: none;
      }
   }

   td {
      vertical-align: top;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--thirdDark);

      &:first-child {
         padding-right: 7px;
      }

      &:last-child{
         padding-left: 7px;
         text-align: right;
      }
   }
}