.about{
   font-size: 20px;
   font-weight: 600;
}

.parameters{
   width: 100%;
   font-size: 16px;

   tr:last-child{
      td {
         border-bottom: none;
      }
   }

   td {
      padding: 10px 3px;
      border-bottom: 1px solid var(--thirdDark);

      &:last-child{
         text-align: right;
      }
   }
}