.content{
   padding: 25px 0;
}

.header{
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   gap: 15px;
   margin-bottom: 10px;
}

.published{
   display: block;
   margin-bottom: 10px;
}