@import '/src/styles/mixins.scss';

.wrapper{
   max-width: 900px;
}

.content{
   padding: 25px 0;
}

.header{
   margin-bottom: 20px;
}

.titleWrap{
   display: flex;
   justify-content: space-between;
   gap: 20px;
   margin-bottom: 15px;
}

.title{
   font-size: 27px;
}

.userLink{
   margin-top: 5px;
   color: var(--primaryMain);

   &:hover{
      text-decoration: underline;
   }
}

.published{
   font-size: 17px;
}

.text{
   color: #2b2b2b;
   margin-bottom: 20px;
   line-height: 1.4;
   font-size: 19px;
   white-space: pre-line;
}

.likes{
   @include flex-center-x;
   gap: 15px;
}

.likeBtn{
   padding: 5px;

   svg {
      width: 28px;
      path{
         stroke: var(--secondaryMain);
         fill: var(--secondaryText);
         transition: fill 0.15s linear;
      }
   }

   &.liked{
      svg path {
         fill: var(--secondaryMain);
      }
   }
}

.likeCounter{
   font-weight: 500;
   color: var(--secondaryMain);
}

.tags{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-bottom: 15px;
}

@media screen and (max-width: 500px) {
   .titleWrap{
      flex-direction: column;
      gap: 5px;
   }
   .title{
      font-size: 21px;
   }
   .text{
      font-size: 17px;
   }
}