.container {
   padding-top: 100px;
   color: var(--primaryText);
   background-color: var(--primaryLight);
}

.info {
   display: grid;
   grid-template-columns: 3fr 2fr;
   gap: 28px;
}

.title{
   font-size: 40px;
}

.desc {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-self: center;
   font-size: 26px;
}

.paper {
   aspect-ratio: 1 / 1.1;
   flex-shrink: 0;
   border-radius: 15px 15px 0 0;
   border: 9px solid var(--thirdMain);
   border-bottom: 0;
   overflow: hidden;

   img {
      object-fit: cover;
      width: 120%;
      height: 120%;
   }
}

.pages{
   display: flex;
   gap: 15px;
}

.pageItem{
   padding: 9px 15px;
   font-size: 20px;
   border-width: 3px;
}
