.content{
   display: flex;
   flex-direction: column;
   min-height: 100%;
   padding: 15px 0;
}

.questions{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   gap: 21px;
   margin-bottom: 15px;
}

.pages{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-top: auto;
}

@media screen and (max-width: 430px) {
   .questions{
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
   }
}