.addBtn, .cartLink{
   align-items: center;
   width: 280px;
   padding: 10px 18px;
   font-size: 18px;
   border-radius: 7px;
   justify-content: center;
}

.cartLink{
   display: flex;
   align-items: center;
   gap: 15px;

   svg {
      width: 18px;
      margin-left: 10px;
      fill: var(--primaryText);
   }
}

@media screen and (max-width: 435px) { 
   .addBtn, .cartLink {
      width: auto;
      flex-grow: 1;
      font-size: 15px;
   }
}