@import '/src/styles/mixins.scss';

.imageModal{
   top: 0;
   left: 0;
   width: 100%;
   height: 100dvh;
   font-size: 17px;
   background-color: rgba(0,0,0,0.4);
   opacity: 0;
   overflow: hidden;
   animation: fadeIn 0.15s linear forwards;

   @keyframes fadeIn {
      0% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }
}

.content {
   @include flex-center-xy;
   gap: 25px;
   max-height: 100%;
   min-height: 100%;
   overflow-y: auto;
}

.imageInfo {
   position: relative;
   width: 100%;
   height: 100%;
   padding: 0 20px 20px 20px;
   background-color: var(--thirdMain);
   color: var(--thirdText);
}

.header, .headerBtns{
   display: flex;
   align-items: center;
   gap: 15px;
}

.header{
   position: sticky;
   top: 0;
   left: 0;
   padding: 17px 0;
   background-color: var(--thirdMain);
   z-index: 505;
}

.user{
   font-size: 16px;
   color: var(--primaryMain);

   &:hover{
      text-decoration: underline;
   }
}

.headerBtns{
   margin-left: auto;
}

.likes{
   font-weight: 600;
   font-size: 21px;
   color: var(--secondaryMain);
}

.likeBtn{
   padding: 5px;

   svg{
      width: 29px;
      height: auto;
      fill: var(--thirdMain);
      transition: fill 0.15s linear;
      

      path{
         stroke: var(--secondaryMain);
      }
   }

   &.liked{
      path{
         fill: var(--secondaryMain);
      }
   }
}

.closeBtn{
   padding: 10px;

   svg{
      width: 20px;
      height: auto;
   }
}

.imgWrap{
   height: 600px;
   margin-bottom: 25px;
   text-align: center;

   img{
      object-fit: contain;
      width: 100%;
      height: 100%;
   }
}

.titleWrap{
   @include flex-spb-y;
   margin-bottom: 9px;
   font-size: 17px;
}

.title{
   font-size: 18px;
   font-weight: 500;
}