@import '/src/styles/mixins.scss';

.wrapper{
   max-width: 900px;
}

.content{
   min-height: 100%;
   padding: 25px 0;
}

.title, .input, .textWrap, .tagsWrap{
   margin-bottom: 20px;
}

.input{
   width: 100%;
   padding: 15px 10px;
}

.textWrap{
   color: var(--thirdText);
   border-radius: 15px 15px 0 15px;
   border: 2px solid var(--primaryMain);
   background-color: var(--thirdMain);
   font-size: 18px;
}

.panel{
   @include flex-center-x;
   gap: 5px;
   padding: 7px 14px;
   overflow: hidden;
   border-bottom: 2px solid var(--primaryMain);

   button{
      padding: 7px 14px;
      font-size: 17px;
   }
}

.text{
   height: 700px;
   overflow-y: scroll;
   padding: 7px 14px;
   &:focus{
      border: none;
      background: none;
      outline: none;
   }
}

.tagsWrap {
   @include flex-center-x;
   flex-wrap: wrap;
   gap: 15px;
   padding: 10px 15px;
   border: 2px solid var(--primaryMain);
   border-radius: 10px;

   input{
      width: 80px;
      border: 1px solid var(--primaryLight);
      border-radius: 5px;
      padding: 4px 8px;
      font-size: 16px;
   }
}

.tags{
   @include flex-center-x;
   flex-wrap: wrap;
   gap: 15px;
}

.publish{
   font-size: 18px;
}

.error{
   font-size: 16px;
   color: var(--red);
}