@import "/src/styles/mixins.scss";

.wrapper {
   max-width: 900px;
}

.content {
   min-height: 100%;
   padding: 25px 0;
}

.title, .textWrap,
.tagsWrap{
   margin-bottom: 20px;
}

.input {
   margin-bottom: 7px;
}

.error {
   min-height: 19px;
   margin-bottom: 7px;
   padding-left: 5px;
   font-size: 16px;
   color: var(--red);
}

.input {
   width: 100%;
   padding: 15px 10px;
}

.publish {
   font-size: 18px;
}