.content{
   padding: 25px 0;
}

.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
}

.headerLink{
   color: var(--text);
}

.products{
   display: grid;
   grid-template-columns: 1fr 275px;
   gap: 20px;
}