.content{
   padding: 15px 0 25px 0;
}

.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
}

.products{
   display: grid;
   grid-template-columns: 1fr 350px;
   gap: 20px;
}

@media screen and (max-width: 1160px) {
   .products{
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
   }
}