.content{
   position: relative;
   display: grid;
   grid-template-columns: 375px 1fr;
   gap: 35px;
   padding: 25px 0;
}

.activityInfo{
   display: flex;
   flex-direction: column;
   gap: 15px;
}

@media screen and (max-width: 925px) {
   .content{
      grid-template-columns: 1fr;
   }
}