.content{
   padding-top: 15px;
}

.order{
   position: sticky;
   top: 0;
   left: 0;
   padding: 20px;
   border-radius: 30px;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.15) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.info{
   display: flex;
   flex-direction: column;
   gap: 5px;
   margin-bottom: 20px;
}

.infoWrap{
   display: flex;
   align-items: center;
   gap: 15px;
}

.label, .infoText{
   font-size: 19px;
}

.infoText{
   font-weight: 500;
   margin-left: auto;
}

.orderBtn{
   justify-content: center;
   width: 100%;
   border-radius: 21px;
}