@import '/src/shared/ui/styles/mixins.scss';

.articleWrap{
   color: var(--thirdText);
   flex: 0 1 250px;
   border-radius: 10px;
   transition: background-color 0.15s linear;
   overflow: hidden;

   @include hoverEffect('&') {
      background-color: #e5e5e5;
   }
}

.imgWrap{
   img{
      object-fit: cover;
      width: 100%;
      height: 150px
   }
}

.articleItem{
   border-radius: 15px 15px 0 0;
   overflow: hidden;
}

.articleTitle{
   padding: 8px;
   font-size: 15px;
}