:root {
   // colors

   --primaryMain: #2196f3;
   --primaryLight: #64b5f6;
   --primaryText: #fff;

   --secondaryMain: #f50057;
   --secondaryText: #fff;

   --thirdMain: #fff;
   --thirdDark: #d8d8d8;
   --thirdText: #1e1e1e;

   // box-shadow

   --shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -1px,
      rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
