@import '/src/styles/mixins.scss';

.content{
   display: flex;
   flex-direction: column;
   gap: 10px;
   height: 100%;
}

.userLink{
   width: fit-content;
   font-weight: 500;
   color: inherit;
   font-size: 17px;

   &:hover{
      text-decoration: underline;
   }
}

.cardLink{
   display: flex;
   flex-grow: 1;
}

.card {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   border-radius: 15px;
   overflow: hidden;
   border: 1px solid var(--thirdDark);
   color: var(--thirdText);
   transition: background-color 0.15s linear;

   &:hover{
      background-color: #eeeeee;
   }
}

.imgWrap {
   @include flex-center-xy;
   aspect-ratio: 1.3 / 1;
   min-height: 200px;
   overflow: hidden;

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.info {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   padding: 12px 15px;
}

.title{
   margin-bottom: 10px;
   font-size: 16px;
   font-weight: 600;
}

.panel{
   @include flex-spb-y;
   gap: 15px;
   margin-top: auto;
}

.published{
   font-size: 15px;
}

.likeBtn{

   svg {
      width: 28px;
      path{
         stroke: var(--secondaryMain);
         fill: var(--secondaryText);
         transition: fill 0.15s linear;
      }
   }

   &.liked{
      svg path {
         fill: var(--secondaryMain);
      }
   }
}