@import "/src/shared/ui/styles/mixins.scss";

.content {
   position: relative;
}

.menuItems {
   position: relative;
   @include flex-center-x;
   justify-content: space-between;
   gap: 15px;
}

.menuItem {
   font-size: 17px;
   padding: 7px 9px;
   border-radius: 15px;

   svg {
      width: 14px;
      height: auto;
      fill: var(--primaryText);
   }
}

.burger {
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 33px;
   height: 33px;
   padding: 6px;

   &.primary{
      background-color: var(--primaryMain);
   }

   &.secondary{
      background-color: var(--secondaryMain);
   }
}

.burgerLine {
   width: 100%;
   height: 2px;
   background-color: var(--thirdMain);
}

.menuItems.menuItemsOpened {
   position: absolute;
   top: 40px;
   right: 0;
   display: flex;
   flex-direction: column;
   min-width: 120px;
   gap: 0;
   background-color: var(--thirdMain);
   color: var(--thirdText);
   border-radius: 4px;
   overflow: hidden;
   border: 1px solid var(--thirdDark);
   box-shadow: var(--shadow);
   z-index: 700;

   & > *{
      display: flex;
      width: 100%;
      padding: 10px 11px;
      font-size: 19px;
      border-radius: 0;
      color: inherit;
      background-color: inherit;
      box-shadow: none;
      text-wrap: nowrap;

      svg {
         display: none;
      }

      &::after, &::before{
         display: none;
      }

      label{
         border-radius: 0;
         padding: 8px 9px;
      }

      &:has(label){
         padding: 2px;
      }
   }
}
.burgerOpened {
   display: flex;
}
