@import "/src/styles/mixins.scss";

.content {
   position: relative;
}

.links {
   @include flex-center-x;
   justify-content: space-between;
   gap: 15px;
}

.btn {
   font-size: 17px;
   padding: 7px 9px;
   border-radius: 15px;

   & > svg {
      width: 14px;
      height: auto;
      fill: var(--primaryText);
   }
}

.filterBtn,
.filterBtn:hover {

   &::before {
      content: none;
   }
}
