@import '/src/shared/ui/styles/mixins.scss';

.header{
   position: sticky;
   top: 0px;
   left: 0px;
   padding: 7px 0;
   z-index: 600;
   background-color: var(--primaryLight);
   color: var(--primaryText);
}

.content{
   @include flex-spb-y;
   gap: 30px;
}

.controls{
   @include flex-center-x;
   gap: 20px;
   font-size: 17px;
   color: var(--primaryText);

   a{
      color: inherit;
   }
}


