.header{
   position: sticky;
   top: 0px;
   left: 0px;
   padding: 7px 0;
   z-index: 400;
   background-color: var(--primaryLight);
   color: var(--primaryText);
}

.content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
}

.controls{
   display: flex;
   align-items: center;
   gap: 20px;
}


