.shop{
   display: grid;
   grid-template-rows: auto 1fr;
   min-height: 100%;
}

.content{
   display: grid;
   grid-template-columns: 300px 1fr;
   grid-template-rows: 1fr;
   flex-grow: 1;
   gap: 20px;
   height: 100%;
}