.auth{
   height: 100%;
}

.content{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.form{
   flex-grow: 1;
   max-width: 500px;
   padding: 20px;
   border-radius: 15px;
   background-color: var(--primaryLight);
   box-shadow: var(--shadow);
}

.input{
   width: 100%;
   padding: 11px 15px;
   margin-bottom: 20px;
   border-radius: 11px;
   font-size: 17px;
   background-color: var(--thirdMain);
   box-shadow: var(--shadow);
}

.panel{
   display: flex;
   align-items: center;
   gap: 15px;
}

.signupLink{
   font-size: 17px;
   color: var(--thirdMain)
}