.auth{
   height: 100%;
   background-color: var(--thirdMain);
}

.content{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.form{
   flex-grow: 1;
   max-width: 500px;
   padding: 20px;
   border-radius: 15px;
   background-color: var(--thirdMain);
   box-shadow: var(--shadow);
   border: 4px solid var(--primaryMain);
}

.inputWrap{
   margin-bottom: 8px;
}

.input{
   width: 100%;
   margin-bottom: 6px;
   padding: 11px 15px;
   border-radius: 11px;
   font-size: 17px;
   background-color: var(--thirdMain);
   border: 2px solid var(--primaryLight);
   box-shadow: var(--shadow);
}

.errorMessage{
   display: block;
   padding-left: 6px;
   height: 14px;
   color: var(--red);
   font-size: 14px;
}

.panel{
   display: flex;
   align-items: center;
   gap: 15px;
}

.signupLink{
   font-size: 17px;
   color: var(--thirdMain)
}