.link {
   position: relative;
   display: inline-flex;
   align-items: center;
   flex-shrink: 0;
   gap: 5px;
   font-size: inherit;
   font-family: inherit;
   border-style: solid;
   outline: none;
   background: none;
   transition: 0.12s box-shadow linear;
   user-select: none;

   svg{
      display: block;
      height: auto;
   }

}

.shadow{
   box-shadow:
   rgba(0, 0, 0, 0.2) 0px 3px 1px -1px,
   rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
   rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

   &:hover{
      box-shadow:
         rgba(0, 0, 0, 0.2) 0px 2px 3px -1px,
         rgba(0, 0, 0, 0.14) 0px 4px 3px 0px,
         rgba(0, 0, 0, 0.12) 0px 3px 5px 0px;
   }
}

.primary{
   background-color: var(--primaryMain);
   color: var(--primaryText);
   border-color: var(--primaryMain);
}

.filled{
   border: none;
   background-color: var(--primaryMain);
   color: var(--primaryText);
}

.secondary{
   background-color: var(--secondaryMain);
   color: var(--secondaryText);
   border-color: var(--secondaryMain);
}

.outlined{
   color: var(--primaryText);
   border: 2px solid var(--primaryText);
}

.none{
   border: none;
   background-color: inherit;
   color: inherit;
   padding: 0;
}