.offers{
   border-top: 7px solid var(--primaryText);
   color: var(--primaryMain);
   background-color: var(--thirdMain);
}

.content{
}

.title{
   margin-bottom: 25px;
   font-size: 40px;
}

.pages{
   padding: 75px 0;
}

.image{
   padding: 75px 0;
   background-color: var(--thirdMain);
}

.pageLinks{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 20px;
}

.pageLink{
   flex-direction: column;
   align-items: flex-start;
   height: 100%;
   gap: 15px;
   padding: 20px;
   border: 3px solid var(--primaryText);
   border-radius: 10px;
   flex-grow: 0;
}

.linkName{
   font-size: 25px;
   font-weight: 700;
}

.product{
   border-radius: 10px;
   overflow: hidden;

   img{
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}


.imgTitle{
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 15px;
   width: 100%;
   font-weight: 500;
   text-shadow: 1px 1px 1px rgba(0,0,0,0);
   z-index: 50;
}

.galleryImg {
   position: relative;
   display: flex;
   flex-grow: 1;
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;

   img {
      object-fit: cover;
      width: 100%;
      height: 100%;
   }

   &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: rgba(0, 0, 0, 0.7) 0px -50px 56px -28px inset,
         rgba(0, 0, 0, 0.5) 0px 60px 56px -28px inset;
      transition: box-shadow 0.25s linear;
      z-index: 45;
   }

   &:hover::after {
      box-shadow: rgba(0, 0, 0, 0.7) 0px -70px 66px -28px inset,
         rgba(0, 0, 0, 0.5) 0px 60px 56px -28px inset;
   }
}