.offers{
   border-top: 7px solid var(--primaryText);
   color: var(--primaryMain);
   background-color: var(--thirdMain);
}

.content{
}

.title{
   margin-bottom: 25px;
   font-size: 40px;
}

.pages{
   padding: 75px 0;
}

.image{
   padding: 75px 0;
   background-color: var(--thirdMain);
}

.pageLinks{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 20px;
}

.product{
   border-radius: 10px;
   overflow: hidden;

   img{
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
