.container {
   padding: 70px 0;
   color: var(--primaryText);
   background-color: var(--primaryLight);
}

.info {
   display: grid;
   grid-template-columns: 3fr 2fr;
   gap: 28px;
}

.desc {
   align-self: center;
   font-size: 23px;

   p:first-of-type {
      margin-bottom: 20px;
   }
}

.paper {
   flex-shrink: 0;
   border-radius: 15px;
   border: 2px solid var(--thirdMain);
   box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
   overflow: hidden;

   img {
      object-fit: cover;
      width: 120%;
      height: 120%;
   }
}
