@import '/src/styles/mixins.scss';

.header{
   @include flex-center-x;
   gap: 20px;
   margin-bottom: 15px;
}

.sectionTitle{
   font-size: 23px;
}

.galleryBlock{
   display: flex;
   padding-bottom: 15px;
   gap: 10px;
   max-height: 225px;
   box-shadow: var(--bottomShadow);
   overflow: hidden;
}

.imgWrap{
   flex: 0 1 250px;
   border-radius: 10px;
   overflow: hidden;

   img{
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
}

.allBtn{
   @include flex-center-xy;
   flex-direction: column;
   gap: 15px;
   flex-grow: 1;
   max-width: 150px;
   padding: 15px;
   border-radius: 15px;
   margin-left: auto;
   transition: background-color 0.15s linear;

   &:hover{
      background-color: var(--primaryLight);
   }

   svg{
      width: 25px;
      fill: var(--primaryText);
   }
}