@import '/src/shared/ui/styles/mixins.scss';

.header{
   @include flex-center-x;
   gap: 20px;
   margin-bottom: 15px;
}

.sectionTitle{
   font-size: 23px;
}

.articleBlock{
   display: flex;
   padding-bottom: 15px;
   gap: 10px;
   min-height: 190px;
   box-shadow: var(--bottomShadow);
   overflow: hidden;
}

.articleWrap{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   flex-grow: 1;
}

.empty{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 190px;
   font-size: 25px;
   font-weight: 500;
   box-shadow: var(--bottomShadow);
}

.allBtn{
   @include flex-center-xy;
   flex-direction: column;
   gap: 15px;
   width: 80px;
   padding: 15px;
   border-radius: 15px;
   margin-left: auto;
   transition: background-color 0.15s linear;
   
   &:hover{
      background-color: var(--primaryLight);
   }

   svg{
      width: 25px;
      fill: var(--primaryText);
   }
}

@media screen and (max-width: 1300px) {
   .articleWrap{
      grid-template-columns: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 545px) {
   .articleBlock{
     flex-direction: column;
   }
   .allBtn{
      flex-direction: row;
      width: 100%;
   }
}

@media screen and (max-width: 390px) {
   .articleWrap{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
   }
}