.intro {
   height: calc(100vh - 64px);
   background: url("/src/assets/img/samoyed-1.jpg") left top / cover;
   color: #fff;
}

.content {
   display: flex;
   align-items: center;
   height: 100%;
}

.info {
   display: flex;
   flex-direction: column;
   gap: 18px;
   max-width: 860px;
}

.title {
   margin-bottom: 11px;
   font-size: 59px;
}

.desc{
   margin-bottom: 15px;
   font-size: 29px;
}

.title, .desc{
   opacity: 0;
}

.visible{
   animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
   0% {
      opacity: 0
   }
   100%{
      opacity: 1;
   }
}

.startBtn{
   align-self: baseline;
   padding: 12px 24px;
   border-radius: 22px;
   font-size: 30px;
}

@media screen and (max-width: 700px) {
   .title{
      font-size: 30px;
   }
   .desc{
      font-size: 21px;
   }
   .title, .desc{
      text-align: center;
   }

   .startBtn{
      margin: 0 auto;
   }
}

@media screen and (max-width: 375px) {
   .title{
      font-size: 25px;
   }
}

