@import '/src/styles/mixins.scss';

.footer{
   padding: 10px 0;
   color: var(--primaryText);
   background-color: var(--primaryMain);
}

.content{
   @include flex-spb-y;
   gap: 25px;
}

.links, .info{
   @include flex-center-x;
   gap: 10px;
   font-size: 15px;
}

.links{
   flex-wrap: wrap;
}

.links{
   margin-left: auto;

   a{
      color: inherit;

      &:hover{
         text-decoration: underline;
      }
   }
}

.info{
   text-align: right;
}