.content{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.comments{
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.trigger{
   height: 25px;
   background-color: transparent;
}

.loader{
   padding: 25px 0;
}