.btn{
   font-size: 14px;
   background-color: var(--primaryText);
   color: var(--text);
   border: 2px solid var(--primaryLight);
   border-radius: 7px;

   box-shadow: var(--shadow);

   &:hover{
      box-shadow: var(--shadowHover);
   }
}

.btnText{
   padding: 5px;
}

.current{
   background-color: var(--primaryLight);
   color: var(--primaryText);
}