.content{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
   flex-grow: 1;
   margin: 25px 0;
   border-radius: 7px;
   overflow: hidden;
}

@media screen and (max-width: 700px) {
   .content{
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
   }
}