.wrap{
   position: relative;
}

.content{
   position: sticky;
   top: 10px;
   left: 0;
   z-index: 1;
}

.header{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   gap: 15px;
   margin-bottom: 10px;

   h1{
      font-size: 25px;
   }

   a{
      margin-top: 5px;
   }
}

.published{
   display: block;
   margin-bottom: 10px;
}

.desc{
   margin-bottom: 10px;
}

@media screen and (max-width: 1250px) {
   .header{
      h1{
         font-size: 19px;
      }
   }
   .published, .desc{
      font-size: 18px;
   }
}

@media screen and (max-width: 440px) {
   .header{
      flex-direction: column;
      gap: 10px;

      a{
         margin-top: 0;
      }
   }
}