@import "/src/styles/mixins.scss";

.tagsWrap {
   @include flex-center-x;
   flex-wrap: wrap;
   gap: 15px;
   margin-bottom: 15px;
   padding: 10px 15px;
   border: 2px solid var(--primaryMain);
   border-radius: 10px;

   input {
      width: 80px;
      border: 1px solid var(--primaryLight);
      border-radius: 5px;
      padding: 4px 8px;
      font-size: 16px;
   }
}

.tags {
   @include flex-center-x;
   flex-wrap: wrap;
   gap: 15px;
}