.doggoCardWrap{
   color: inherit;
}

.noCardBlock, .cardBlock{
   display: flex;
   align-items: center;
   justify-content: center;
   aspect-ratio: 2 / 1;
   margin-bottom: 10px;
   border-radius: 25px;
   box-shadow: var(--shadow);
   background-color: var(--primaryLight);
   color: var(--primaryText);
   transition: all 0.15s linear;

   &:hover{
      box-shadow: var(--shadowHover);
      background-color: var(--primaryMain);
   }
}

.noCardBlock{
   font-weight: 600;
   font-size: 26px;
}

.cardLabel{
   font-size: 16px;
   text-align: center;
}