.cardDiscount{
   display: flex;
   align-items: center;
   gap: 15px;
}

.discount{
   width: fit-content;
   padding: 8px;
   font-size: 27px;
   font-weight: 700;
   background-color: var(--secondaryMain);
   color: var(--secondaryText);
   border-radius: 17px;
}

.cardDiscountLabel{
   font-weight: 500;
   font-size: 16px;
}

.priceWrap{
   display: flex;
   align-items: center;
   gap: 15px;
}

.price{
   padding-left: 5px;
   font-size: 24px;
   font-weight: 700;
}

.priceWithoutCard{
   font-size: 16px;
}

.info{
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 0 25px 25px 25px;
   border-radius: 20px;
   box-shadow: var(--bottomShadow);
   font-size: 18px;
}

.buttons{
   display: flex;
   gap: 10px;
}

.favouriteBtn{
   justify-content: center;
   width: 43px;
   height: 43px;
   padding: 0px;

   svg:nth-of-type(1){
      width: 30px;
      height: auto;
      stroke-width: 3px;
      fill: none;

      path{
         stroke: var(--thirdMain);
      }
   }

   &.inFavourites {
      svg:nth-of-type(1){
         fill: var(--secondaryMain);
      }
   }
}

.deliveryInfo{
   padding: 25px;
}

.deliveryTitle{
   margin-bottom: 10px;
   font-weight: 600;
}

.setDataLink{
   color: var(--thirdText);

   &:hover{
      text-decoration: underline;
   }
}

@media screen and (max-width: 680px) {
   .content{
      display: flex;
      flex-direction: column;
      gap: 15px;
   }
   .info, .deliveryInfo{
      padding: 0 0 15px 0;
   }
}

@media screen and (max-width: 435px) {
   .deliveryInfo, .deliveryTitle{
      font-size: 20px;
   }
}