.mainInfo{
   position: sticky;
   top: 0;
   left: 0;
   padding: 0 0 25px 0;
   z-index: 1;
}

.userInfoWrap{
   padding-bottom: 25px;
   margin-bottom: 20px;
   box-shadow: var(--bottomShadow);
}

.userInfo{
   display: flex;
   gap: 15px;
   padding: 0 0 0 6px;
}

.logoWrap{
   max-width: 140px;
}

.logo{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   aspect-ratio: 1 / 1;
   margin-bottom: 15px;
   border: 2px solid var(--primaryMain);
   border-radius: 25px;

   svg{
      width: 65%;
      fill: var(--primaryLight);
   }
}

.login{
   padding-left: 21px;
   font-size: 15px;
   font-weight: 500;
}

.userPersonalData{
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 10px 0;
   font-size: 16px;
}

.name{
   font-weight: 500;
}

@media screen and (max-width: 925px) {
   .mainInfo{
      position: static;
      display: flex;
      gap: 20px;
      box-shadow: var(--bottomShadow);
   }
   .userInfoWrap{
      padding-bottom: 0;
      margin-bottom: 12px;
      box-shadow: none;
   }
}

@media screen and (max-width: 735px) {
   .mainInfo{
      flex-direction: column;
   }
}

@media screen and (max-width: 390px) {
   .userInfo{
      flex-direction: column;
      align-items: center;
   }
   .userPersonalData{
      text-align: center;
   }
   .login{
      text-align: center;
      padding: 0;
   }
}